*{
    margin: 0%;
    padding: 0%;
}
/* font */
.azeret-mono-font {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
/* banner section contents style here */
.banner-section{
    width: 100%;
    height: 702px;
}
.heading{
    height: 20%;
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 45px;
    padding-left: 45px;
    font-weight:900;
    font-size: 28px;
}

.btn{
    color:#0D1321;
    font-family: "Azeret Mono", monospace;
    height: 35px;
    width: 150px;
    padding: 5px;
    background-color: white;
    border: 1px solid #0D1321;
    border-radius: 8px;
}
.banner-container{
    background-image: url('./assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 80%;
}
.boy{
    display: flex;
    justify-content: center;

}

.boy img{
    width: 10%;
    margin-top: 20px;
}

.banner-text-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 50%;
}

.btn-1{
    margin-top: 20px;
    color: white;
    font-family: "Azeret Mono", monospace;
    height: 45px;
    width: 210px;
    padding: 5px;
    font-size: 20px;
    background-color: black;
    border: 1px solid #0D1321;
    border-radius: 8px;
}
/* development cards section starts here */
.first-section-container{
    width: 100%;
    height: 1230px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}
.bg-color{
    width: 80%;
    background-color: #FAFAFB;
    margin: 0 auto;
    border-radius: 16px;
}
.text-container{
    width: 60%;
    /* margin: 0 auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
}
/* shared font style */
.text-container h1, .text-container h1 , .container h1{
    font-weight: 900;
    font-size: 32px;
}

.text-container p{
    color: #0D1321;
    font-size: 16px;
}

/* Shared items end here */

.card {
    display: flex;
    width: 100%;
    background-image: linear-gradient(to right,white,#FAFAFB);
    border-radius: 16px;
    margin: 20px 0;
    padding: 20px;
    height: auto; 
}

.card-rev {
    display: flex;
    background-image: linear-gradient(to left,white,#FAFAFB);
    border-radius: 16px;
    margin: 20px 0;
    padding: 20px;
    height: auto; 
}
.card-content{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin: 0 auto;
}

.btn-2{
    background-color: #ffffff;
    color:#0D1321;
    width: 150px;
    border: 1px solid #0D1321;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
    height: auto;
    margin-top: 15px;
}
/* my inspiration section */
.my-inspiration{
    text-align: center;

}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    height: 775px;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #0D1321;
    border-radius: 16px;
    padding: 2%;
    margin-top: 20px;
}

iframe {
    width: 100%;
    max-width: 1400px;
    height: 580px;
    border-radius: 8px;
}
/* current target starts here */
.current-target{
    width: 80%;
    height: 400px;
    margin: 0 auto;
    margin-bottom: 5%;
}

.current-target-text{
    height: 30%;
    text-align: center;
}

.cards-container{
    height: 70%;
    display: flex;
    justify-content: space-around;
    gap: 5px;
}
.card-1{
    background-color: #FFF6F3;
    width: 33%;
    height: 100%;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 20px;
}

.card-2{
    background-color: #F2F6FE;
    width: 33%;
    height: 100%;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 20px;

}

.card-3{
    background-color: #FFFDF2;
    width: 33%;
    height: 100%;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 20px;
}

.card-content a{
    font-weight: bold;
    font-size: 16px;
    color: #0D1321;
    margin-top: 15px;
}

/* my next target section starts here */
.next-target-section{
    width: 80%;
    margin: 0 auto;
    margin-top: 150px;
}

.next-target-text{
    text-align: center;
}
.sub-section{
    margin-top: 10px;
    display: flex;
    align-items: center;
    border: 1px solid #0D1321;
    border-radius: 16px;
    padding: 5px;

}
.sub-section-content{
    padding-left: 20px;
}
.sub-section img{
    width: 9%;
}

/* search section starts here*/
.search-section {
    width: 80%;
    height: 450px;
    margin: 0 auto;
    margin-top: 60px;
    border-radius: 16px;
    background: linear-gradient(black, white), url('./assets/handshake.jpg') no-repeat center center/cover;
    background-blend-mode: multiply;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.search-text {
    width: 50%;
    margin: 0 auto;
}

.search-section form {
    margin-top: 20px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-section input[type="text"] {
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 8px ;
}

.search-section button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: white;
    color: #0D1321;
    font-weight: bold;
    cursor: pointer;
}

.search-section button:hover {
    background-color: #000000;
    color: white;
}